<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>

  
  <body>

    <%- include('./includes/nav.ejs') %>

    <div class="container">
    
      <h1>About us</h1>
        <h2><%= description %></h2> 
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores est
        beatae consectetur ipsa ullam modi nesciunt deleniti tempore consequatur
        eos officiis nemo, exercitationem nostrum perferendis. Fuga, autem.
        Beatae, nulla totam?
      </p>
    </div>
  </body>
</html> 