<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>



        <div class="container bg-light mt-3">
            <div class="row">
                <div class="col-md-6 offset-md-6 text-right">
                    <a href="/post/create" class="btn btn-outline-primary">New post</a>
                </div>
            </div>
            <div>
                <h2 class="display-4">Posts</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque asperiores doloremque minima magnam accusamus assumenda, qui nam modi natus numquam quod sequi iusto. Excepturi quo natus cum dolore, nulla sed.
            </div>
        </div>
</body>
</html>